<div class="container">
  <div class="jumbotron" style="margin-top:80px">
    <h1>Bạn đã thắng!</h1>
    <p>Bạn đã thắng sau khi trả lời {{questionNo}} câu hỏi với số điểm {{score}}</p>
  </div>
</div>
