<div class="container">
  <div class="jumbotron" style="margin-top:80px">
    <h1>Bạn đã thắng!</h1>
    <p>Bạn đã thắng sau khi trả lời {{questionNo}} câu hỏi với số điểm {{score}}</p>
  </div>
</div>

<div class="container graph-container">
  <div id="graph-1-container" class="graph">

  </div>
  <div id="graph-2-container" class="graph">

  </div>
  <div id="graph-3-container" class="graph">

  </div>
  <div id="graph-4-container" class="graph">

  </div>
  <div id="graph-5-container" class="graph">

  </div>
  <div id="graph-6-container" class="graph">

  </div>
</div>
